@{
    ViewBag.defaultcss = new List<string> { "/Content/css/home_page.css" };
    ViewBag.defaultjs = new List<string> { "/Scripts/custom/homepage.js" };
    List<EcommercePlatform.Models.APIPart> recentParts = ViewBag.recentParts ?? new List<EcommercePlatform.Models.APIPart>();
    List<EcommercePlatform.Models.APICategory> parent_cats = ViewBag.parent_cats ?? new List<EcommercePlatform.Models.APICategory>();
    EcommercePlatform.ContentPage page = ViewBag.page ?? new EcommercePlatform.ContentPage();
    List<EcommercePlatform.Banner> banners = ViewBag.banners ?? new List<EcommercePlatform.Banner>();
    EcommercePlatform.Models.Settings settings = ViewBag.settings ?? new EcommercePlatform.Models.Settings();
    Layout = null;
}
<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie9" lang="en"> <![endif]-->
<!-- Consider adding a manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 9]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head>
    @Html.Partial("_Head")
</head>
<body>
    @Html.Partial("_Header")
    <div id="container">
        <div id="main" role="main">
            <form id="lookup" action="/Lookup" method="post">
                <span class="title">FIND MY HITCH</span>
                <span class="sub_title">Get the right hitch for your vehicle</span>
                <label for="mount">
                    <span>* You must select a mount.</span>
                    <select name="mount" id="mount">
                        <option value="">- Select Mount -</option>
                        <option value="front">Front Mount</option>
                        <option value="rear">Rear Mount</option>
                    </select>
                    <img src="/Content/img/ajax-loader.gif" alt="Loading.." />
                </label>
                
                <label for="year">
                    <span>* You must select a year.</span>
                    <select name="year" id="year">
                        <option value="0">- Select Year -</option>
                    </select>
                    <img src="/Content/img/ajax-loader.gif" alt="Loading.." />
                </label>

                <label for="make">
                    <span>* You must select a make.</span>
                    <select name="make" id="make">
                        <option value="0">- Select Make -</option>
                    </select>
                    <img src="/Content/img/ajax-loader.gif" alt="Loading.." />
                </label>
    
                <label for="model">
                    <span>* You must select a model.</span>
                    <select name="model" id="model">
                        <option value="0">- Select Model -</option>
                    </select>
                    <img src="/Content/img/ajax-loader.gif" alt="Loading.." />
                </label>
    
                <label for="style">
                    <span>* You must select a style.</span>
                    <select name="style" id="style">
                        <option value="0">- Select Style -</option>
                    </select>
                    <img src="/Content/img/ajax-loader.gif" alt="Loading.." />
                </label>
                <input type="submit" name="btnSubmit" id="btnSubmit" value="Fit Vehicle" />
                <a href="javascript:void(0)" id="reset_lookup" title="Reset Fields">Reset</a>
            </form>
            <div id="curt_product">
                @foreach (EcommercePlatform.Banner banner in banners) {
                    <div class="banner">
                        <img src="@banner.image" alt="@banner.title" />
                        <a href="@((banner.link != "") ? banner.link : "javascript:void(0);")" class="info">
                            <div class="info_desc">
                                <span class="heading">@banner.title</span>
                                <span class="info_sub">@banner.body</span>
                            </div>
                            <div class="arrow">
                                <span>></span>
                            </div>
                        </a>
                    </div>
                }
            </div>
            <div class="clearfix"></div>
            @Html.Partial("_LeftCol")
            <section id="home_content">
                @Html.Raw(page.content)
            </section>
            <section id="mid_col" @((recentParts.Count == 0) ? "style=width:790px" : "")>
                <span class="heading">FEATURED PRODUCTS</span>
                @foreach (EcommercePlatform.Models.APICategory cat in parent_cats) {
                    <article>
                        <img src="@cat.image" alt="@cat.catTitle.Trim()" />
                        <ul>
                            <li>
                                <a href="/Category/@cat.catID/@cat.slug">@cat.catTitle.Trim()</a>
                            </li>
                            @if (cat.SubCategories.Count > 3) {
                                for (int i = 0; i < 3; i++) {
                                    <li>
                                        <a href="/Category/@cat.SubCategories[i].catID/@cat.SubCategories[i].slug">@cat.SubCategories[i].catTitle.Trim()</a>
                                    </li>
                                }
                                <li>
                                    <a href="/Category/@cat.catID/@cat.slug">More..</a>
                                </li>
                            } else {
                                foreach (EcommercePlatform.Models.APICategory sub in cat.SubCategories) {
                                    <li>
                                        <a href="/Category/@sub.catID/@sub.slug">@sub.catTitle.Trim()</a>
                                    </li>
                                }
                            }
                        </ul>
                    </article>
                }
            </section>
            <section id="right_col">
                @if (recentParts.Count > 0) {
                    <article class="module" style="height:300px">
                        <span class="module_title">Recent Parts</span>
                        <ul>
                            @foreach (EcommercePlatform.Models.APIPart part in recentParts) {
                                <li>
                                    <a href="/Part/@part.partID" title="View Part #@part.partID">@part.shortDesc</a>
                                </li>
                            }
                        </ul>
                    </article>
                }
            </section>
            <div class="clearfix"></div>
        </div>
    </div>
    <!--! end of #container -->
    @Html.Partial("_Footer")
    @Html.Partial("_FooterScripts")
</body>
</html>
