@{
    List<EcommercePlatform.Models.PrettyLocation> locs = ViewBag.locations;
    if(locs == null){
        locs = new List<EcommercePlatform.Models.PrettyLocation>();
    }
    
    string json = ViewBag.locations_json;
    if(json == null){
        json = "";
    }

    string error = ViewBag.error;

    bool testingBadLocations = false;
    
    ViewBag.Title = "Locations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="/Content/view_sass/locations.css" rel="stylesheet" type="text/css" />

@if(error != null){
    <p class="success">@error</p>
}

<div id="map"></div>
<input type="hidden" id="json" value="@json" />
@foreach (EcommercePlatform.Models.PrettyLocation loc in locs) {
    <article class='location' id='@loc.locationID'>
        <div class='left'>
            <span class='name'>@loc.name</span>
            <div class='address'>
                <span>@loc.address</span>
                <span>@(loc.city), @(loc.abbr) @loc.zip</span>
            </div>

            @if (loc.Services != null && loc.Services.Count > 0) {
                <div class='services'>
                    <span class="title">Services</span>
                    @foreach (EcommercePlatform.Service serv in loc.Services) {
                        <span class='service'>@serv.title<span class='price'>@(String.Format("{0:C}",serv.price))@((serv.hourly == "1")?"\\hr":"")</span></span>
                    }
                </div>
            }
        </div>
        <div class='right'>
            @if (loc.latitude != null && loc.longitude != null && loc.latitude != 0 && loc.longitude != 0 && !testingBadLocations) {
                <span class='map_easy' data-lat='@loc.latitude' data-long='@loc.longitude' data-id="@loc.locationID">
                    <img src='/Content/img/map.png' alt='View on Map' />
                    View on Map
                </span>
                <span class='directions_easy' data-address='@String.Format("{0} {1},{2} {3}",loc.address,loc.city,loc.state,loc.zip)' data-lat='@loc.latitude' data-long='@loc.longitude'>
                    <img src='/Content/img/directions.jpg' alt='Get Directions' />
                    Get Directions
                </span>
            } else {
                <span class='map_tough' data-address='@String.Format("{0} {1},{2} {3}",loc.address,loc.city,loc.state,loc.zip)'>
                    <img src='/Content/img/map.png' alt='View on Map' />
                    View on Map
                </span>
                <span class='directions_tough' data-address='@String.Format("{0} {1},{2} {3}",loc.address,loc.city,loc.state,loc.zip)'>
                    <img src='/Content/img/directions.jpg' alt='Get Directions' />
                    Get Directions
                </span>
            }
            @if (loc.phone != null && loc.phone.Length > 0) {
                <span>
                    <img src='/Content/img/phone-icon.png' alt='Phone: @loc.phone' />
                    Phone: @loc.phone
                </span>
            }
            @if (loc.fax != null && loc.fax.Length > 0) {
                <span>
                    <img src='/Content/img/Fax.png' alt='Fax: @loc.fax' />
                    Fax: @loc.fax
                </span>
            }
            @if (loc.email != null && loc.email.Length > 0) {
                <span class="send_email" data-email="@loc.email">
                    <img src='/Content/img/footer/mail.png' alt='E-Mail: @loc.email' />
                    E-Mail: @loc.email
                </span>
            }
        </div>
        <div class='clearfix'></div>
    </article>
}
<div style="display:none" id="content-container">
    <form class="simple-form" method="post" action="/Contact/SendAJAX">
        <span class="title">Contact Us</span>
        <div class="clearfix"></div>
        <label for="name">
            Name
            <input type="text" name="name" id="name" class="placeholder" placeholder="Enter your full name" required="required" title="You must enter your name" />
        </label>

        <label for="phone">
            Phone Number
            <input type="tel" name="phone" id="phone" class="placeholder" placeholder="Enter your phone number" />
        </label>

        <label for="email">
            E-Mail Address
            <input type="email" name="email" id="email" class="placeholder" placeholder="Enter your e-mail address" required="required" title="E-Mail address is required" />
        </label>

        <label for="to">
            To Address
            <input type="email" name="to" id="to" readonly="readonly" />
        </label>

        <label for="message">
            Question/Comment
            <textarea rows="6" cols="50" name="message" id="message" class="placeholder" placeholder="Enter your question or comment..." required="required" title="You must enter a message"></textarea>
        </label>
    
        <div id="captchabox">@Html.Raw(EcommercePlatform.Models.ReCaptcha.GenerateCaptcha())</div>
    
        <div class="clearfix"></div>
        <input type="submit" name="btnContact" id="btnContact" value="Submit" />
    </form>
</div>
<script type="text/javascript" src="//maps.googleapis.com/maps/api/js?sensor=false"></script>
<script src="/Scripts/tools/jquery.simplemodal.min.js" type="text/javascript"></script>
@if (HttpContext.Current.IsDebuggingEnabled) {
    <script src='/Scripts/custom/locations.js' type='text/javascript'></script>
} else {
    <script src='/Scripts/custom/locations.min.js' type='text/javascript'></script>
}