@{
    ViewBag.defaultcss = new List<string> { "/Content/css/category.css" };
    EcommercePlatform.Models.APICategory cat = ViewBag.category ?? new EcommercePlatform.Models.APICategory();
    cat.catTitle = cat.catTitle.Trim();
    
    ViewBag.Title = cat.catTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
    EcommercePlatform.Models.Settings settings = ViewBag.settings ?? new EcommercePlatform.Models.Settings();
    List<EcommercePlatform.Models.APICategory> breadcrumbs = ViewBag.breadcrumbs ?? new List<EcommercePlatform.Models.APICategory>();
}
<div class="breadcrumbs">
    <a href="/">Home</a> <span>&gt;</span>
    @if(breadcrumbs.Count > 0) {
        for (int i = breadcrumbs.Count() - 1; i >= 0; i--) {
            if(i != 0) {
                <a href="@Url.RouteUrl("CategoryByID", new { catID = breadcrumbs[i].catID, cat = breadcrumbs[i].slug })">@breadcrumbs[i].catTitle</a> <span>&gt;</span>
            } else {
                @breadcrumbs[i].catTitle
            }
        }
    } else {
        <text>Product Categories</text>
    }
</div>

<span class="title">@cat.catTitle</span>

<img src="@cat.image" alt="@cat.catTitle" onerror="$(this).remove()" class="cat_image" />

@if (cat.shortDesc != null && cat.shortDesc.Length > 0) {
    <p>@cat.shortDesc</p>
}

@if (cat.longDesc != null && cat.longDesc.Length > 0) {
    <p>@cat.longDesc</p>
}
<div class="clearfix"></div>

@foreach (EcommercePlatform.Models.APICategory sub in cat.SubCategories) {
    <a href="/Category/@sub.catID/@sub.slug" class="sub_cat" title="@sub.catTitle.Trim()">
        <span class="img_container">
            <img src="@sub.image" alt="@sub.catTitle.Trim()" onerror="$(this).remove()" />
        </span>
        <span>@sub.catTitle.Trim()</span>
    </a>
}