@{
    ViewBag.defaultcss = new List<string> { "/Content/css/category.css" };
    ViewBag.defaultjs = new List<string> { "/Scripts/custom/category_parts.js" };
    EcommercePlatform.Models.APICategory cat = ViewBag.category ?? new EcommercePlatform.Models.APICategory();
    cat.catTitle = cat.catTitle.Trim();

    List<EcommercePlatform.Models.APIPart> parts = ViewBag.parts ?? new List<EcommercePlatform.Models.APIPart>();
    ViewBag.partCount = parts.Count;

    int more_count = ViewBag.more_count ?? 0;
    int page = ViewBag.page ?? 1;
    int per_page = ViewBag.per_page ?? 10;

    ViewBag.Title = cat.catTitle + " Parts";
    Layout = "~/Views/Shared/_Layout.cshtml";
    EcommercePlatform.Models.Settings settings = ViewBag.settings ?? new EcommercePlatform.Models.Settings();
    List<EcommercePlatform.Models.APICategory> breadcrumbs = ViewBag.breadcrumbs ?? new List<EcommercePlatform.Models.APICategory>();
}
<input type="hidden" id="catID" value="@cat.catID" />
@if (breadcrumbs.Count > 0) {
    <div class="breadcrumbs">
        <a href="/">Home</a> <span>&gt;</span>
        @for (int i = breadcrumbs.Count() - 1; i >= 0; i--) {
            if (i != 0) {
                <a href="@Url.RouteUrl("CategoryByID", new { catID = breadcrumbs[i].catID, cat = breadcrumbs[i].slug })">@breadcrumbs[i].catTitle</a> <span>&gt;</span>
            } else {
                @breadcrumbs[i].catTitle
            }
        }
    </div>
}
<span class="title">@cat.catTitle</span>

@if (cat.longDesc != null && cat.longDesc.Length > 0) {
    <p>@cat.longDesc</p>
} else if (cat.shortDesc != null && cat.shortDesc.Length > 0) {
    <p>@cat.shortDesc</p>
}
<div class="clearfix"></div>

@{Html.RenderPartial("_PartListing");}

@if (more_count > 0) {
    <a href="/Category/Parts/@cat.catID/@(page + 1)/@(per_page)" title="View More" class="view_more">
        View More</a>
}