@{
    Admin.Theme theme = ViewBag.theme ?? new Admin.Theme();
    Admin.ThemeFileType type = ViewBag.type ?? new Admin.ThemeFileType();
    Admin.ThemeArea area = ViewBag.area ?? new Admin.ThemeArea();
    Admin.ThemeFile file = ViewBag.file ?? new Admin.ThemeFile();
    ViewBag.Title = "| Edit Theme File";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string data = (file.ID > 0) ? file.content : "";
}
<link href="/Admin/Content/css/themeeditor.css" rel="stylesheet" type="text/css" />
<script src="/Admin/Scripts/syntaxhighliter/shCore.js"></script>
<script src="/Admin/Scripts/syntaxhighliter/shBrushCss.js"></script>
<script src="/Admin/Scripts/syntaxhighliter/shBrushJScript.js"></script>

<link href="/Admin/Content/css/syntaxhighliter/shCore.css" rel="stylesheet" />
<link href="/Admin/Content/css/syntaxhighliter/shThemeDefault.css" rel="stylesheet" />
@if (file != null && file.ID > 0) {
    <span class="title">@theme.name - @area.name: Edit @type.name File</span>
} else {
    <span class="title">@theme.name - @area.name: Add @type.name File</span>
}
<span class="clearfix"></span>
File Name: <input type="text" id="filename" value="@((file != null && file.ID > 0) ? file.name() : "")" required placeholder="Enter a file name" title="file name is required" />
<span class="clearfix"></span>
<a href="/Admin/Themes/Files/@theme.ID" class="cancel btn btn-red"><i class="icon-arrow-left"></i> Back</a><button class="save btn btn-success" data-fileid="@file.ID" data-themeid="@theme.ID" data-areaid="@area.ID" data-typeid="@type.ID" type="button">Save</button><img class="ajax-loader" src="/Content/img/ajax-loader.gif" alt="saving..." />
<div class="editor">
<div class="gutter"></div>
<pre id="preeditor" class="" contenteditable="true">@data
</pre>
</div>
<span class="clearfix"></span>
<a href="/Admin/Themes/Files/@theme.ID" class="cancel btn btn-red"><i class="icon-arrow-left"></i> Back</a><button class="save btn btn-success" data-fileid="@file.ID" data-themeid="@theme.ID" data-areaid="@area.ID" data-typeid="@type.ID" type="button">Save</button><img class="ajax-loader" src="/Content/img/ajax-loader.gif" alt="saving..." />

<script src="/Admin/Scripts/custom/themeeditor.js" type="text/javascript"></script>