@{
    Admin.Theme theme = ViewBag.theme ?? new Admin.Theme();
    List<Admin.ThemeArea> areas = ViewBag.areas ?? new List<Admin.ThemeArea>();
    List<Admin.ThemeFileType> types = ViewBag.types ?? new List<Admin.ThemeFileType>();
    ViewBag.Title = "| Manage Theme Files";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="/Admin/Content/css/themes.css" rel="stylesheet" type="text/css" />
<span class="title">Theme File Management</span>
<span class="clearfix"></span>
<div class="theme">
    <input type="hidden" id="themeID" value="@theme.ID" />
    <a href="/Admin/Themes/Files/@theme.ID" class="themename" title="Manage Theme Files">@theme.name</a>
    <img src="@((!string.IsNullOrWhiteSpace(theme.screenshot)) ? theme.screenshot : "/Admin/Content/img/noimage.jpg" )" alt="@theme.name" />
</div>
<span class="clearfix"></span>
@foreach(Admin.ThemeArea area in areas) {
    <div class="themearea" id="area-@area.ID">
        <span class="areaname">@area.name</span>
        @foreach(Admin.ThemeFileType type in types) {
            <a href="#" data-areaid="@area.ID" data-typeid="@type.ID">@theme.ThemeFiles.Where(x => x.themeAreaID.Equals(area.ID) && x.ThemeFileTypeID.Equals(type.ID)).Count() <text> </text> @type.name <text>files</text></a> <br />
        }
    </div>
}
<script src="/Admin/Scripts/custom/themes.js"></script>