@{
    ViewBag.defaultcss = new List<string> { "/Content/css/cart.css" };
    EcommercePlatform.ContentPage page = ViewBag.page ?? new EcommercePlatform.ContentPage();
    ViewBag.Title = "Enter Payment";
    Layout = "~/Views/Shared/_Layout.cshtml";
    EcommercePlatform.Models.PayPalResponse response = ViewBag.paypalResponse;
    EcommercePlatform.Models.Settings settings = ViewBag.settings ?? new EcommercePlatform.Models.Settings();
}
<div class="content">
    <h2>Pay With PayPal</h2>
    @Html.Raw(page.content)
    @Html.Partial("_Cart")
    @if (ViewBag.message != null && ViewBag.message != "") {
        <p class="message">@ViewBag.message</p>
    }
    <form class="simple-form" id="ccform" action="/Payment/CompletePayPalCheckout" method="post">
        <input type="hidden" name="token" value="@response.token" />
        <input type="hidden" name="payerID" value="@response.payerID" />
        <fieldset>
            <legend>Complete Your Order</legend>
            <div class="left">
                <p><strong>PayPal Account Name:</strong> @response.first @response.last</p>
                <p><strong>PayPal Account Email:</strong> @response.email</p>
                <p><strong>Amount: $@response.amount</strong></p>
            </div>
            <div class="right options">
                <img src="https://www.paypal.com/en_US/i/logo/PayPal_mark_180x113.gif" alt="PayPal" />
            </div>
            <div class="clearfix"></div>
            <input type="submit" class="button" id="paymentSubmit" value="Place Order" />
        </fieldset>
    </form>
</div>