@{
    List<EcommercePlatform.FaqTopic> topics = ViewBag.topics;
    if(topics == null){
        topics = new List<EcommercePlatform.FaqTopic>();   
    }
    
    EcommercePlatform.FaqTopic topic = ViewBag.topic;
    if(topic == null){
        topic = new EcommercePlatform.FaqTopic();   
    }
    
    ViewBag.Title = "Topic";
    Layout = "~/Views/Shared/_Layout.cshtml";
    EcommercePlatform.Models.Settings settings = ViewBag.settings ?? new EcommercePlatform.Models.Settings();
}

<link href="@settings.Get("PathToCSS")/css/faq.css" rel="stylesheet" type="text/css" />
<div class="faq-topics">
    <span>Topics</span>
    <ul>
        @foreach (EcommercePlatform.FaqTopic t in topics) {
            <li>
                <a href="/FAQ/@t.topic" title="@t.topic" @((t.ID == topic.ID)?"class=active":"")>@t.topic</a>
            </li>
        }
    </ul>
</div>

<div class="content">
    <h2>@topic.topic</h2>
    
    @foreach (EcommercePlatform.FAQ faq in topic.FAQs) {
        <article>
            <span class="question"><strong>Q:</strong>@faq.question</span>
            <span class="answer"><strong>A:</strong>@faq.answer</span>
        </article>
    }
</div>
