@{
    List<EcommercePlatform.Country> countries = ViewBag.countries;
    if (countries == null) {
        countries = new List<EcommercePlatform.Country>();
    }

    EcommercePlatform.Customer cust = ViewBag.cust;
    EcommercePlatform.Address billing = ViewBag.billing;
    EcommercePlatform.Address shipping = ViewBag.shipping;
    string referrer = ViewBag.referrer ?? "";
    if (billing == null) {
        billing = new EcommercePlatform.Address();
    }
    if (shipping == null) {
        shipping = new EcommercePlatform.Address();
    }
    if (cust == null) {
        cust = new EcommercePlatform.Customer();
    }
    cust.Address = billing;
    cust.Address1 = shipping;
    int quebec = 59;
    // Quebec stateID = 59
}
<form class="simple-form" method="post" action="https://@Request.Url.Host@((ViewBag.setup)?"/Authenticate/Signup":"/Account/Save")">
    <input type="hidden" name="redirect" value="@referrer" />
    <fieldset class="left">
        <legend>Basic Information</legend>
        @if (ViewBag.setup) {
            <label for="signup_email">
                E-Mail Address
                <input type="email" name="email" id="signup_email" class="placeholder" placeholder="Enter your e-mail address" required="required" title="E-Mail Address is required" value="@cust.email" />
            </label>
            <label for="confirm_email">
                Confirm E-Mail Address
                <input type="email" name="email2" id="confirm_email" class="placeholder" placeholder="Confirm your e-mail address" required="required" title="You must confirm E-Mail Address" />
            </label>
            <label for="signup_password">
                Password (must be at least 6 characters)
                <input type="password" name="password" id="signup_password" autocomplete="off" placeholder="Enter your password" required="required" title="Password is required" pattern="\S{6,}" />
            </label>
            <label for="confirm_password">
                Confirm Password
                <input type="password" name="password2" id="confirm_password" autocomplete="off" placeholder="Confirm your password" required="required" title="You must confirm your password" pattern="\S{6,}" />
            </label>
        } else {
            <label for="signup_email">
                E-Mail Address
                <input type="email" name="email" id="signup_email" class="placeholder" placeholder="Enter your e-mail address" required="required" title="E-Mail Address is required" value="@cust.email" readonly="readonly" />
            </label>
        }
        <label for="fname">
            First Name
            <input type="text" name="fname" id="fname" class="placeholder" placeholder="Enter your first name" required="required" title="First name is required" value="@cust.fname" />
        </label>
        <label for="lname">
            Last Name
            <input type="text" name="lname" id="lname" class="placeholder" placeholder="Enter your last name" required="required" title="Last name is required" value="@cust.lname" />
        </label>
        <label for="phone">
            Phone Number
            <input type="tel" name="phone" id="phone" class="placeholder" placeholder="Enter your phone number" value="@cust.phone" />
        </label>
    </fieldset>
            
    <fieldset class="left">
        <legend>Offers/Newsletter</legend>
        <label for="receiveOffers">
            <span>Would you like to receive offers from @ViewBag.settings.Get("SiteName")?</span>
            <input type="checkbox" name="receiveOffers" id="receiveOffers" value="1" @((cust.receiveOffers == 1)?"checked=checked":"") />
        </label>
        <label for="receiveNewsletter">
            <span>Would you like to receive the newsletter from @ViewBag.settings.Get("SiteName")?</span>
            <input type="checkbox" name="receiveNewsletter" id="receiveNewsletter" value="1" @((cust.receiveNewsletter == 1)?"checked=checked":"") />
        </label>
    </fieldset>
    <div class="clearfix"></div>
    <input type="submit" name="btnSubmit" id="btnSignup" value="@((ViewBag.setup)?"Continue":"Save")" />
</form>