@{
    ViewBag.defaultcss = new List<string> { "/Content/css/share-email.css" };
    bool layout = ViewBag.layout ?? true;
    string type = ViewBag.type;
    EcommercePlatform.Models.APIPart part = ViewBag.part;
    if(type == null || part == null){
        type = "site";
        part = new EcommercePlatform.Models.APIPart();
        part.partID = 0;
    }
    
    ViewBag.Title = "Share via E-Mail";
    if(layout){
        Layout = "~/Views/Shared/_Layout.cshtml";
    } else {
        Layout = null;
    }
    EcommercePlatform.Models.Settings settings = ViewBag.settings ?? new EcommercePlatform.Models.Settings();
}
@if (ViewBag.error != null && ViewBag.error.Length > 0) {
    <p class="error">@ViewBag.error</p>
}

@if (part.partID == 0) {
    <span class="share-heading">Share @ViewBag.settings.Get("SiteName") with a Friend</span>
} else {
    <span class="share-heading">Share @part.shortDesc on @ViewBag.settings.Get("SiteName") with a Friend</span>
}
<form method="post" action="/Share/SendMail?type=@type&partID=@part.partID" class="share-form @((type.ToLower() != "site")?"left":"")">
    <label for="sender">
        Your E-Mail
        <input type="email" name="sender" id="sender" class="placeholder" placeholder="Enter the e-mail address of the the sender" required="required" title="You must enter the sender's e-mail address" />
    </label>

    <label for="recipient">
        Recipient E-Mail
        <input type="email" name="recipient" id="recipient" class="placeholder" placeholder="Enter the e-mail address of the the recipient" required="required" title="You must enter the recipient's e-mail address" />
    </label>

    <label for="subj">
        Subject
        <input type="text" name="subj" id="subj" value="@((type.ToLower() == "site") ? "Your friend invited you to check out " + ViewBag.settings.Get("SiteName") : "Your friend invited you to check out CURT Part #" + part.partID)" value="@((type.ToLower() == "site") ? "Your friend invited you to check out " + ViewBag.settings.Get("SiteName") : "Your friend invited you to check out CURT Part #" + part.partID)" />
    </label>

    <label for="msg">
        Message
        <textarea cols="40" rows="5" name="msg" id="msg" class="placeholder" placeholder="Enter a brief message"></textarea>
    </label>

    <div style="clear:both"></div>
    <input type="submit" name="btnSubmit" id="btnSubmit" value="Send" />
</form>

@if (type.ToLower() != "site" && part != null && part.partID != 0) {
    <div class="part_info">
        <span class="part_heading">@part.shortDesc</span>
        @foreach (EcommercePlatform.Models.APIImage img in part.images.Where(x => x.size.Equals("Grande")).OrderBy(x => x.sort)) {
            <img src="@img.path" alt="@part.shortDesc" />
            if (part.attributes != null && part.attributes.Count > 0) {
                <table>
                    <tbody>
                        @foreach(EcommercePlatform.Models.APIAttribute att in part.attributes){
                            <tr>
                                <td>@att.key</td>
                                <td>@att.value</td>
                            </tr>   
                        }
                    </tbody>
                </table>
            }
            break;
        }
    </div>
}
<div class="clearfix"></div>