@{
    EcommercePlatform.ContentPage page = ViewBag.page;
    if(page == null){
        page = new EcommercePlatform.ContentPage();   
    }

    EcommercePlatform.Testimonial testimonial = ViewBag.testimonial;
    if(testimonial == null) {
        testimonial = new EcommercePlatform.Testimonial();   
    }

    string message = ViewBag.message;
        
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    EcommercePlatform.Models.Settings settings = ViewBag.settings ?? new EcommercePlatform.Models.Settings();
}
<link href="@settings.Get("PathToCSS")/css/testimonials.css" rel="stylesheet" type="text/css" />

<span class="heading">Submit Your Testimonial</span>

<form method="post" action="/Testimonials/Add" class="left simple-form" style="width:60%">
    @if (message.Length > 0) {
        <p class="error">@message</p>
    }

    <label for="testimonial" style="margin-bottom: 30px;">
        Testimonial
        <textarea rows="6" cols="50" name="testimonial" id="testimonial" class="placeholder" placeholder="Enter your testimonial..." required="required" title="You must enter a testimonial">@testimonial.testimonial1</textarea>
    </label>

    <label for="first_name">
        First Name
        <input type="text" name="first_name" id="first_name" class="placeholder" placeholder="Enter your first name (optional)" value="@testimonial.first_name" />
    </label>

    <label for="last_name">
        Last Name
        <input type="text" name="last_name" id="last_name" class="placeholder" placeholder="Enter your last name  (optional)" value="@testimonial.last_name" />
    </label>

    <label for="location">
        Where are you from?
        <input type="text" name="location" id="location" class="placeholder" placeholder="Enter your location (optional)" value="@testimonial.location" />
    </label>

    @Html.Raw(EcommercePlatform.Models.ReCaptcha.GenerateCaptcha())

    <div class="clearfix"></div>
    <input type="submit" name="btnContact" id="btnContact" value="Submit" />
</form>

<div class="right" style="width:38%">
    @Html.Raw(page.content)
</div>

<script src="/Scripts/custom/testimonials.js"></script>