@{
    ViewBag.defaultcss = new List<string> { "/Content/css/account.css" };
    EcommercePlatform.Customer cust = ViewBag.cust;
    if (cust == null){
        Response.Redirect("/Authenticate");
    }
    ViewBag.billing = cust.Address;
    ViewBag.shipping = cust.Address1;
    ViewBag.setup = false;
    EcommercePlatform.Models.Settings settings = ViewBag.settings ?? new EcommercePlatform.Models.Settings();
    string error = ViewBag.error ?? "";
    
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>My Account</h1>
<p class="error">@error</p>
<ul class="tabs nojs">
    <li>
        <a href="/Account" title="Basic Information" class="active">Account</a>
    </li>
    <li>
        <a href="/Account/Password" title="Change Password">Password</a>
    </li>
    <li>
        <a href="/Account/Orders" title="View Orders">Orders</a>
    </li>
    <li>
        <a href="/Account/Addresses" title="View Addresses">Addresses</a>
    </li>
</ul>
<div class="tab_container">
    <div class="tab_content">
        <form class="simple-form" method="post" action="https://@Request.Url.Host/Account/Save">
            <fieldset class="left">
                <legend>Basic Information</legend>
                <label for="signup_email">
                    E-Mail Address
                    <input type="email" name="email" id="signup_email" class="placeholder" placeholder="Enter your e-mail address" required="required" title="E-Mail Address is required" value="@cust.email" />
                </label>
                <label for="fname">
                    First Name
                    <input type="text" name="fname" id="fname" class="placeholder" placeholder="Enter your first name" required="required" title="First name is required" value="@cust.fname" />
                </label>
                <label for="lname">
                    Last Name
                    <input type="text" name="lname" id="lname" class="placeholder" placeholder="Enter your last name" required="required" title="Last name is required" value="@cust.lname" />
                </label>
                <label for="phone">
                    Phone Number
                    <input type="tel" name="phone" id="phone" class="placeholder" placeholder="Enter your phone number" value="@cust.phone" />
                </label>
            </fieldset>
            
            <fieldset class="left">
                <legend>Offers/Newsletter</legend>
                <label for="receiveOffers">
                    <span>Would you like to receive offers from @ViewBag.settings.Get("SiteName")?</span>
                    <input type="checkbox" name="receiveOffers" id="receiveOffers" value="1" @((cust.receiveOffers == 1)?"checked=checked":"") />
                </label>
                <label for="receiveNewsletter">
                    <span>Would you like to receive the newsletter from @ViewBag.settings.Get("SiteName")?</span>
                    <input type="checkbox" name="receiveNewsletter" id="receiveNewsletter" value="1" @((cust.receiveNewsletter == 1)?"checked=checked":"") />
                </label>
            </fieldset>
            <div class="clearfix"></div>
            <input type="submit" name="btnSubmit" id="btnSignup" value="Save" />
        </form>
    </div>
</div>

