@using EcommercePlatform.Models;
@{
    ViewBag.defaultcss = new List<string> { "/Content/css/account.css" };
    ViewBag.defaultjs = new List<string> { "/Scripts/custom/account.js" };
    EcommercePlatform.Customer cust = ViewBag.cust;
    if(cust == null){
        cust = new EcommercePlatform.Customer();
    }
    EcommercePlatform.Models.Settings settings = ViewBag.settings ?? new EcommercePlatform.Models.Settings();
    
    string error = ViewBag.error;
    if(error == null){
        error = "";
    }
    EcommercePlatform.Payment payment = new EcommercePlatform.Payment();
    TimeZoneInfo tz = ViewBag.timezone ?? TimeZoneInfo.Utc;
    ViewBag.Title = "Orders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>My Account - Order History</h1>
<p class="error">@error</p>
<ul class="tabs nojs">
    <li>
        <a href="/Account" title="Basic Information">Account</a>
    </li>
    <li>
        <a href="/Account/Password" title="Change Password">Password</a>
    </li>
    <li>
        <a href="/Account/Orders" title="View Orders" class="active">Orders</a>
    </li>
    <li>
        <a href="/Account/Addresses" title="View Addresses">Addresses</a>
    </li>
</ul>
<div class="tab_container">
    <div class="tab_content">
        <table class="orders">
            <thead>
                <tr class="header">
                    <th class="title">Order #</th>
                    <th>Date Created</th>
                    <th class="total">Order Total</th>
                </tr>
                <tr><td colspan="3">&nbsp;</td></tr>
            </thead>
            <tbody>
            @foreach (EcommercePlatform.Cart order in cust.Orders) {
                payment = order.getPayment();
                <tr class="order" data-id="@order.payment_id">
                    <td class="title">Order #@(order.payment_id)</td>
                    <td class="date">@String.Format("{0:MMMM d, yyyy} at {0:h:mm tt}", TimeZoneInfo.ConvertTimeFromUtc(payment.created, tz)) @UDF.ShortTZ(tz, payment.created)</td>
                    <td class="total">@String.Format("{0:C}", order.getTotal())</td>
                </tr>
            }
            </tbody>
        </table>
        <div class="clearfix"></div>
    </div>
</div>