@using Admin.Models;
@{
    Admin.Profile profile = ViewBag.profile ?? new Admin.Profile();
    TimeZoneInfo tz = TimeZoneInfo.FindSystemTimeZoneById(profile.timezone ?? "UTC");
    Admin.Cart order = ViewBag.order ?? new Admin.Cart();
    Admin.Customer cust = ViewBag.customer ?? new Admin.Customer();
    string trackingcodes = "";

    ViewBag.Title = "Items";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="/Admin/Content/css/order.manager.css" rel="stylesheet" type="text/css" />
<span class="title">Order #@order.payment_id</span>
@if (order.voided) {
    <p class="void">VOID</p>
} else {
    <a class="button" href="/Admin/Orders/Void/@order.payment_id" id="void">Void Order</a>
}
<ul class="tabs">
    <li>
        <a href="#order">Summary</a>
    </li>
    <li>
        <a href="#items">Items</a>
    </li>
    <li>
        <a href="#shipping">Shipping</a>
    </li>
    <li>
        <a href="#payment">Payment</a>
    </li>
    @if(ViewBag.settings.Get("EDIOrderProcessing") == "true") {
    <li>
        <a href="#edi">CURT Status</a>
    </li>
    }
</ul>
<div class="tab_container">
    <div class="tab_content admin_form" id="order">
        <div class="left">
            <label>
                Customer
                <input type="text" value="@(cust.fname + " " + cust.lname)" readonly="readonly" />
            </label>
            <label>
                Customer Phone
                <input type="text" value="@cust.phone" readonly="readonly" />
            </label>
            <label>
                Date Created
                <input type="text" value="@String.Format("{0:M/dd/yyyy} at {0:h:mm tt}", TimeZoneInfo.ConvertTimeFromUtc(order.Payment.created, tz)) @UDF.ShortTZ(tz, order.Payment.created)" readonly="readonly" />
            </label>
            <label>
                Payment Method
                <input type="text" value="@order.Payment.PaymentTypes.name" readonly />
            </label>
            <label>
                Status
                <input type="text" value="@order.Payment.status" readonly />
            </label>
        </div>
        <div class="left">
            <span class="title">Order Total</span>
            <span class="subdata"><span>Subtotal</span>@String.Format("{0:C}", order.GetSubTotal())</span>
            <span class="subdata"><span>Shipping</span>@String.Format("{0:C}", order.shipping_price)</span>
            <span class="subdata last"><span>Tax</span>@String.Format("{0:C}", order.tax)</span>
            <span class="data">@String.Format("{0:C}", order.getTotal())</span>

            <span class="title">Number of Items</span>
            <span class="data">@order.getCount()</span>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="tab_content" id="items">
        @foreach (Admin.CartItem item in order.CartItems) {
            <article>
                <div class="image">
                    <img src="@item.GetImage()" onerror="$(this).remove()" />
                </div>
                <div class="info">
                    <p>@item.shortDesc</p>
                    <a href="/Part/@item.partID" target="_blank" title="View Part">View CURT Part #@item.partID</a>
                </div>
                <div class="pricing">
                    <span class="price">@String.Format("{0:C}", item.price)</span>
                    <span class="qty">x&nbsp;@item.quantity</span>
                    <span class="total">@String.Format("{0:C}", item.price * item.quantity)</span>
                </div>
            </article>
        }
    </div>
    <div class="tab_content admin_form" id="shipping">
        <h3>Shipping Info</h3>
        <label>
            Type
            <input type="text" value="@((order.shipping_type != null) ? order.shipping_type.Replace("_", " ").ToLower() : "")" readonly />
        </label>
        <label>
            Price
            <input type="text" value="@String.Format("{0:C}", order.shipping_price)" readonly />
        </label>
        @{
            for (int i = 0; i < order.Shipments.Count; i++) {
                if (i > 0) {
                    trackingcodes += ", ";
                }
                trackingcodes += order.Shipments[i].tracking_number;
            }
        }
        <label>
            Tracking Codes
            <input type="text" id="trackingcodes" value="@trackingcodes" readonly />
        </label>
        @if (order.Shipments.Count > 0 && order.Shipments[0].dateShipped != null) {
            <label>
                Shipping Date
                <input type="text" value="@String.Format("{0: M/d/yyyy}", order.Shipments[0].dateShipped)" readonly />
            </label>
        }
        <a class="button" href="#" data-id="@order.payment_id" id="shipnotice">Send Notification</a>
        <a class="button" href="#" data-id="@order.payment_id" id="addshipment">Add Shipment</a>
        <a class="button" href="#" data-id="@order.payment_id" id="clearshipments">Clear All</a>
        <h3>Shipping Address</h3>
        <label>
            Name
            <input type="text" value="@(order.Shipping.first + " " + order.Shipping.last)" readonly />
        </label>
        <label>
            Street
            <input type="text" value="@order.Shipping.street1" readonly />
        </label>
        <label>
            Street 2
            <input type="text" value="@order.Shipping.street2" readonly />
        </label>
        <label>
            City
            <input type="text" value="@order.Shipping.city" readonly />
        </label>
        <label>
            State/Province
            <input type="text" value="@(order.Shipping.State1.abbr + " - " + order.Shipping.State1.state1)" readonly />
        </label>
        <label>
            Country
            <input type="text" value="@(order.Shipping.State1.Country.abbr + " - " + order.Shipping.State1.Country.name)" readonly />
        </label>
        <label>
            Postal Code
            <input type="text" value="@order.Shipping.postal_code" readonly />
        </label>
    </div>
    <div class="tab_content admin_form" id="payment">
        <h3>Payment Info</h3>
        <label>
            Type
            <input type="text" value="@order.Payment.PaymentTypes.name" readonly />
        </label>
        <label>
            Payment Date
            <input type="text" value="@String.Format("{0:M/d/yyyy} at {0:h:mm tt}", TimeZoneInfo.ConvertTimeFromUtc(order.Payment.created, tz)) @UDF.ShortTZ(tz, order.Payment.created)" readonly />
        </label>
        <label>
            Amount
            <input type="text" value="@String.Format("{0:C}", order.getTotal())" readonly />
        </label>
        <label>
            Confirmation Code
            <input type="text" value="@order.Payment.confirmationKey" readonly />
        </label>
        <label>
            Status
            <input type="text" value="@order.Payment.status" readonly />
        </label>
        <h3>Billing Address</h3>
        <label>
            Name
            <input type="text" value="@(order.Billing.first + " " + order.Billing.last)" readonly />
        </label>
        <label>
            Street
            <input type="text" value="@order.Billing.street1" readonly />
        </label>
        <label>
            Street 2
            <input type="text" value="@order.Billing.street2" readonly />
        </label>
        <label>
            City
            <input type="text" value="@order.Billing.city" readonly />
        </label>
        <label>
            State/Province
            <input type="text" value="@(order.Billing.State1.abbr + " - " + order.Billing.State1.state1)" readonly />
        </label>
        <label>
            Country
            <input type="text" value="@(order.Billing.State1.Country.abbr + " - " + order.Billing.State1.Country.name)" readonly />
        </label>
        <label>
            Postal Code
            <input type="text" value="@order.Billing.postal_code" readonly />
        </label>
    </div>
    @if (ViewBag.settings.Get("EDIOrderProcessing") == "true") {
    <div class="tab_content admin_form" id="edi">
        <h3>CURT Order Status</h3>
        <label>
            EDI Generated
            <input type="text" value="@((order.OrderEDI != null) ? String.Format("{0:M/d/yyyy} at {0:h:mm tt}", TimeZoneInfo.ConvertTimeFromUtc(order.OrderEDI.dateGenerated, tz)) + " " + UDF.ShortTZ(tz, order.OrderEDI.dateGenerated) : "Not Generated Yet")" readonly />
        </label>
        <label>
            Received By CURT
            <input type="text" value="@((order.OrderEDI != null && order.OrderEDI.dateAcknowledged != null) ? String.Format("{0:M/d/yyyy} at {0:h:mm tt}", TimeZoneInfo.ConvertTimeFromUtc(order.OrderEDI.dateAcknowledged.Value, tz)) + " " + UDF.ShortTZ(tz, order.OrderEDI.dateAcknowledged.Value) : "Not Acknowledged Yet")" readonly />
        </label>
        <label>
            EDI Filename
            <input type="text" value="@((order.OrderEDI != null) ? order.OrderEDI.filename : "")" readonly />
        </label>
        <a class="button" href="/Admin/Orders/RegeneratePO/@order.payment_id">Generate Purchase Order</a>
    </div>
    }
</div>

<script>
    $(function () {
        $(document).on('click', '#addshipment', function (event) {
            event.preventDefault();
            // add a new shipment
            var orderID = $(this).data('id');
            var html = '<div><input type="text" id="trackingcode" data-id="' + orderID + '" placeholder="Tracking Code" /><span class="clearfix"></span><button class="btn" id="submitshipment">Add</button><button class="btn btn-danger right" id="cancelshipment">Cancel</button></div>';
            $.modal(html, {
                containerCss: {
                    backgroundColor: '#ffffff',
                    borderColor: '#ffffff',
                    padding: '10px',
                    height: '70px',
                }, overlayCss: {
                    backgroundColor: 'black'
                }, onClose: function (dialog) {
                    $('div.simplemodal-container').fadeOut(400, function () {
                        $('div.simplemodal-overlay').hide();
                        $('div.simplemodal-container').hide();
                    });
                    $.modal.close();
                }
            });

        });
        $(document).on('click', '#submitshipment', function (event) {
            var tracking = $('#trackingcode').val();
            var orderID = $('#trackingcode').data('id');
            $.get("/Admin/Orders/AddShipment", { id: orderID, trackingnum: tracking }, function (data) {
                $('#trackingcodes').val(data);
                $.modal.close();
            },"text");
        });

        $(document).on('click', '#cancelshipment', function (event) {
            $.modal.close();
        });
        $(document).on('click', '#shipnotice', function (event) {
            // send shipping notification
            event.preventDefault();
            var orderID = $(this).data('id');
            if (confirm("Send email to customer with shipping details?")) {
                $.getJSON("/Admin/Orders/SendShippingNotification/" + orderID,function(data) {
                    showMessage("Shipping notification sent");
                });
            }
        });

        $(document).on('click', '#clearshipments', function (event) {
            event.preventDefault();
            var orderID = $(this).data('id');
            if (confirm("Clear all shipment tracking code information?")) {
                $.getJSON("/Admin/Orders/ClearShipments/" + orderID, function (data) {
                    if (data) {
                        $('#trackingcodes').val("");
                    }
                });
            }
        });

        $(document).on("click", "#void", function (event) {
            event.preventDefault();
            if (confirm("Are you sure you want to void this order?")) {
                window.location = $(this).attr('href');
            };
        });
    })
</script>