@using Admin.Models;
@{
    Admin.Profile profile = ViewBag.profile ?? new Admin.Profile();
    TimeZoneInfo tz = TimeZoneInfo.FindSystemTimeZoneById(profile.timezone ?? "UTC");
    Admin.Cart order = ViewBag.order ?? new Admin.Cart();
    Admin.Customer cust = ViewBag.customer ?? new Admin.Customer();
    string trackingcodes = "";
    for (int i = 0; i < order.Shipments.Count; i++) {
        if (i > 0) {
            trackingcodes += ", ";
        }
        trackingcodes += order.Shipments[i].tracking_number;
    }

    ViewBag.Title = "Items";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="/Admin/Content/css/order.manager.css" rel="stylesheet" type="text/css" />
<span class="title">Order #@order.payment_id</span>
@if (order.voided) {
    <p class="void">VOID</p>
} else {
    <a class="button" href="/Admin/Orders/Void/@order.payment_id" id="void">Void Order</a>
}
    <div class=" admin_form" id="order">
        <div class="left">
            <h4>Order Date</h4>
            <p>@String.Format("{0:M/dd/yyyy} at {0:h:mm tt}", TimeZoneInfo.ConvertTimeFromUtc(order.Payment.created, tz)) @UDF.ShortTZ(tz, order.Payment.created)</p>
            <h4>Status</h4>
            <p>@order.Payment.status</p>
            <h4>Payment Details</h4>
            <table class="orderdetails">
                <tr><td>Type</td><td>@order.Payment.PaymentTypes.name</td></tr>
                <tr><td>Date</td><td>@String.Format("{0:M/d/yyyy} at {0:h:mm tt}", TimeZoneInfo.ConvertTimeFromUtc(order.Payment.created, tz)) @UDF.ShortTZ(tz, order.Payment.created)</td></tr>
                <tr><td>Amount</td><td>@String.Format("{0:C}", order.getTotal())</td></tr>
                <tr><td>Confirmation Code</td><td>@order.Payment.confirmationKey</td></tr>
            </table>
            <h4>Customer</h4>
            <table class="orderdetails">
                <tr><td>Name</td><td>@cust.fname @cust.lname</td></tr>
                <tr><td>Phone</td><td>@cust.phone</td></tr>
                <tr><td>Email</td><td><a href="mailto:@cust.email">@cust.email</a></td></tr>
                <tr>
                    <td>Billing Address</td>
                    <td>@order.Billing.first @order.Billing.last<br />
                    @order.Billing.street1<br />
                    @if (order.Billing.street2.Trim() != "") {
                    @order.Billing.street2<br />
                    }
                    @order.Billing.city<text>, </text>@order.Billing.State1.abbr @order.Billing.postal_code<br />
                    @order.Billing.State1.Country.abbr
                    </td>
                </tr>
                <tr>
                    <td>Shipping Address</td>
                    <td>@order.Shipping.first @order.Shipping.last<br />
                    @order.Shipping.street1<br />
                    @if (order.Shipping.street2.Trim() != "") {
                    @order.Shipping.street2<br />
                    }
                    @order.Shipping.city<text>, </text>@order.Shipping.State1.abbr @order.Shipping.postal_code<br />
                    @order.Shipping.State1.Country.abbr
                    </td>
                </tr>
            </table>
            <h4>Shipping Details</h4>
            <table class="orderdetails">
                <tr><td>Type</td><td>@((order.shipping_type != null) ? order.shipping_type.Replace("_", " ").ToLower() : "")</td></tr>
                <tr><td>Price</td><td>@String.Format("{0:C}", order.shipping_price)</td></tr>
                <tr><td>Tracking Codes</td><td><p id="trackingcodes">@trackingcodes</p></td></tr>
                @if (order.Shipments.Count > 0 && order.Shipments[0].dateShipped != null) {
                    <tr><td>Shipping Date</td><td>@String.Format("{0: M/d/yyyy}", order.Shipments[0].dateShipped)</td></tr>
                }
            </table>
            <br />
            <a class="btn btn-danger" href="#" data-id="@order.payment_id" id="shipnotice">Send Notification</a>
            <a class="btn btn-danger" href="#" data-id="@order.payment_id" id="addshipment">Add Shipment</a>
            <a class="btn btn-danger" href="#" data-id="@order.payment_id" id="clearshipments">Clear All</a>
            @if (ViewBag.settings.Get("EDIOrderProcessing") == "true") {
                <h4>CURT Order Status (EDI)</h4>
                <table class="orderdetails">
                    <tr><td>EDI Generated</td><td>@((order.OrderEDI != null) ? String.Format("{0:M/d/yyyy} at {0:h:mm tt}", TimeZoneInfo.ConvertTimeFromUtc(order.OrderEDI.dateGenerated, tz)) + " " + UDF.ShortTZ(tz, order.OrderEDI.dateGenerated) : "Not Generated Yet")</td></tr>
                    <tr><td>Received By CURT</td><td>@((order.OrderEDI != null && order.OrderEDI.dateAcknowledged != null) ? String.Format("{0:M/d/yyyy} at {0:h:mm tt}", TimeZoneInfo.ConvertTimeFromUtc(order.OrderEDI.dateAcknowledged.Value, tz)) + " " + UDF.ShortTZ(tz, order.OrderEDI.dateAcknowledged.Value) : "Not Acknowledged Yet")</td></tr>
                    <tr><td>EDI Filename</td><td>@((order.OrderEDI != null) ? order.OrderEDI.filename : "")</td></tr>
                </table>
                <br />
                <a class="btn btn-danger" href="/Admin/Orders/RegeneratePO/@order.payment_id">Generate Purchase Order</a>
            }
        </div>
        <div class="right">
            <span class="title">Order Details</span>
            @foreach (Admin.CartItem item in order.CartItems) {
                for (int i = 0; i < item.quantity; i++) {
                <span class="itemdata@((item == order.CartItems.Last() && i == item.quantity - 1) ? " last" : "")"><span><a href="/Part/@item.partID" target="_blank" title="View Part">@item.shortDesc</a></span>@String.Format("{0:C}", item.price)</span>
                }
            }
            <span class="subdata"><span>Subtotal</span>@String.Format("{0:C}", order.GetSubTotal())</span>
            <span class="subdata"><span>Shipping</span>@String.Format("{0:C}", order.shipping_price)</span>
            <span class="subdata last"><span>Tax</span>@String.Format("{0:C}", order.tax)</span>
            <span class="data">@String.Format("{0:C}", order.getTotal())</span>

            <span class="title">Number of Items</span>
            <span class="data">@order.getCount()</span>

            <span class="title">Order Notes</span>
            <textarea id="notes" rows="5">@order.notes</textarea>
            <a class="btn" id="savenotes" data-id="@order.payment_id">Save</a>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<script>
    $(function () {
        $(document).on('click', '#addshipment', function (event) {
            event.preventDefault();
            // add a new shipment
            var orderID = $(this).data('id');
            var html = '<div><input type="text" id="trackingcode" data-id="' + orderID + '" placeholder="Tracking Code" /><span class="clearfix"></span><button class="btn" id="submitshipment">Add</button><button class="btn btn-danger right" id="cancelshipment">Cancel</button></div>';
            $.modal(html, {
                containerCss: {
                    backgroundColor: '#ffffff',
                    borderColor: '#ffffff',
                    padding: '10px',
                    height: '70px',
                }, overlayCss: {
                    backgroundColor: 'black'
                }, onClose: function (dialog) {
                    $('div.simplemodal-container').fadeOut(400, function () {
                        $('div.simplemodal-overlay').hide();
                        $('div.simplemodal-container').hide();
                    });
                    $.modal.close();
                }
            });

        });
        $(document).on('click', '#submitshipment', function (event) {
            var tracking = $('#trackingcode').val();
            var orderID = $('#trackingcode').data('id');
            $.get("/Admin/Orders/AddShipment", { id: orderID, trackingnum: tracking }, function (data) {
                $('#trackingcodes').html(data);
                $.modal.close();
            },"text");
        });

        $(document).on('click', '#savenotes', function () {
            var notes = $('#notes').val();
            var cartID = $(this).data('id');
            $.getJSON("/Admin/Orders/SaveNotes", { cartID: cartID, notes: notes }, function (success) {
                console.log(success);
                if (success) {
                    showMessage("Notes saved successfully.");
                } else {
                    showMessage("Problem saving notes.");
                }
            });
        });

        $(document).on('click', '#cancelshipment', function (event) {
            $.modal.close();
        });
        $(document).on('click', '#shipnotice', function (event) {
            // send shipping notification
            event.preventDefault();
            var orderID = $(this).data('id');
            if (confirm("Send email to customer with shipping details?")) {
                $.getJSON("/Admin/Orders/SendShippingNotification/" + orderID,function(data) {
                    showMessage("Shipping notification sent");
                });
            }
        });

        $(document).on('click', '#clearshipments', function (event) {
            event.preventDefault();
            var orderID = $(this).data('id');
            if (confirm("Clear all shipment tracking code information?")) {
                $.getJSON("/Admin/Orders/ClearShipments/" + orderID, function (data) {
                    if (data) {
                        $('#trackingcodes').html("");
                    }
                });
            }
        });

        $(document).on("click", "#void", function (event) {
            event.preventDefault();
            if (confirm("Are you sure you want to void this order?")) {
                window.location = $(this).attr('href');
            };
        });
    })
</script>