@{
    Admin.Models.PostWithCategories post = ViewBag.post;
    List<Admin.Comment> comments = ViewBag.comments;

    ViewBag.Title = "View Post Comments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Comments for Blog Post: @post.post_title <a href="/Admin/Blog/" class="backButton">Back to Posts</a></h2>
<hr />

<p><strong>Posted On</strong> @String.Format("{0:MMM d, yyyy} at {0:h:mm tt}", post.publishedDate)</p>
<p><strong>Author:</strong> @post.author.first @post.author.last</p>
<p><strong>Post Content:</strong></p>
@Html.Raw(post.post_text)

<table id="comments_list">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Created</th>
            <th>Approved</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Admin.Comment comment in comments)
        {
            <tr>
                <td>@comment.commentID</td>
                <td>@comment.name</td>
                <td>@comment.email</td>
                <td>@comment.createdDate.ToString()</td>
                <td>@((comment.approved == true) ? "Yes" : "No")</td>
                <td>
                    <a href="/Admin/Blog/ViewComment/@comment.commentID" class="viewcomment" data-id="@comment.commentID" title="View">View</a> | 
                    @if (!(comment.approved)) {
                        <a href="/Admin/Blog/ApproveComment/@comment.commentID" class="approvecomment" data-id="@comment.commentID" title="Approve">Approve</a> <text>|</text>
                    }
                    <a href="/Admin/Blog/DeleteComment/@comment.commentID" title="Delete" data-id="@comment.commentID" class="delete_comment">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<!-- Edit Modal Dialog -->
<div id="comment_dialog">
    <p id="comment_box_text"></p>
</div>
<!-- End Modal Dialog -->

<script type="text/javascript">
    $(document).ready(function () {

        var commentTable = $('table').dataTable({
            "bJQueryUI": true,
            "aoColumns": [
            null,
            null,
            null,
            { "sType": "date" },
            null,
            null
        ],
            "aaSorting": [[3, "asc"]]
        });

        $('.delete_comment').live('click', function () {
            var comment_id = $(this).attr('data-id');
            var table_row = $(this).parent().parent().get()[0];
            if (comment_id > 0 && confirm("Are you sure you want to remove this Comment?")) {
                $.getJSON('/Admin/Blog/DeleteComment/' + comment_id, function (resp) {
                    if (resp.error == undefined) {
                        commentTable.fnDeleteRow(table_row);
                        showMessage('Comment removed.');
                    } else {
                        showMessage(resp.error);
                    }
                });
            }
            return false;
        });

        $('.viewcomment').live('click', function (event) {
            event.preventDefault();
            var table_row = $(this).parent().parent().get()[0];
            var comment_id = $(this).attr('data-id');
            if (comment_id > 0) {
                $.getJSON('/Admin/Blog/CommentJSON/' + comment_id, function (resp) {
                    if (resp.error == undefined) {
                        $('#comment_box_text').html(resp.comment_text);
                        $('#comment_dialog').dialog({
                            autoOpen: false,
                            title: "Comment",
                            modal: true,
                            buttons: {
                                "Approve": function () {
                                    var dialog = $(this);
                                    $.getJSON('/Admin/Blog/ApproveAjax/' + comment_id, function (resp) {
                                        if (resp.error == undefined) {
                                            commentTable.fnDeleteRow(table_row);
                                            commentTable.fnAddData([
                                            resp.commentID,
                                            resp.name,
                                            resp.email,
                                            resp.createdDate,
                                            resp.approved,
                                            '<a href="/Admin/Blog/ViewComment/' + resp.commentID + '" class="viewcomment" data-id="' + resp.commentID + '" title="View">View</a> | <a href="/Admin/Comments/Delete/' + resp.commentID + '" title="Delete" data-id="' + resp.commentID + '" class="delete_comment">Delete</a>'
                                            ]);
                                            showMessage('Comment approved.');
                                            $('#comment_box_text').empty();
                                        } else {
                                            showMessage(resp.error);
                                        };
                                    });
                                    $(this).dialog("close");
                                },
                                "Delete": function () {
                                    var dialog = $(this);
                                    if (comment_id > 0 && confirm("Are you sure you want to remove this Comment?")) {
                                        $.getJSON('/Admin/Blog/DeleteComment/' + comment_id, function (resp) {
                                            if (resp.error == undefined) {
                                                commentTable.fnDeleteRow(table_row);
                                                showMessage('Comment removed.');
                                                $('#comment_box_text').empty();
                                            } else {
                                                showMessage(resp.error);
                                            }
                                        });
                                    };
                                    $(this).dialog("close");
                                },
                                Cancel: function () {
                                    $(this).dialog("close");
                                    $('#comment_box_text').empty();
                                }
                            },
                            close: function () { }
                        });
                        $('#comment_dialog').dialog('open');
                    } else {
                        showMessage(resp.error);
                    }
                });
            }
            return false;
        });

        $('a.approvecomment').live('click', function (event) {
            event.preventDefault();
            var comment_id = $(this).attr('data-id');
            var table_row = $(this).parent().parent().get()[0];
            if (comment_id > 0 && confirm("Are you sure you want to approve this Comment?")) {
                $.getJSON('/Admin/Blog/ApproveAjax/' + comment_id, function (resp) {
                    if (resp.error == undefined) {
                        commentTable.fnDeleteRow(table_row);
                        commentTable.fnAddData([
                        resp.commentID,
                        resp.name,
                        resp.email,
                        resp.createdDate,
                        resp.approved,
                        '<a href="/Admin/Blog/ViewComment/' + resp.commentID + '" class="viewcomment" data-id="' + resp.commentID + '" title="View">View</a> | <a href="/Admin/Comments/Delete/' + resp.commentID + '" title="Delete" data-id="' + resp.commentID + '" class="delete_comment">Delete</a>'
                        ]);
                        showMessage('Comment approved.');
                    } else {
                        showMessage(resp.error);
                    }
                });
            }
            return false;
        });
    });
</script>