@{
    List<EcommercePlatform.Models.PostWithCategories> posts = ViewBag.posts;
    ViewBag.Title = "Blog";
    List<string> css = new List<string> { "/Content/css/blog.css" };
    ViewBag.css = css;
    Layout = "~/Views/Shared/_Layout.cshtml";
    int pagecount = ViewBag.pagecount;
    int page = ViewBag.page;
    TimeZoneInfo tz = ViewBag.timezone ?? TimeZoneInfo.Utc;
    EcommercePlatform.Models.Settings settings = ViewBag.settings ?? new EcommercePlatform.Models.Settings();
}
<link href="@settings.Get("PathToCSS")/css/blog.css" rel="stylesheet" type="text/css" />

@Html.Partial("_BlogNavigation")

<div class="content">
    <h2>Blog</h2>
    @foreach (EcommercePlatform.Models.PostWithCategories post in posts) {
        <article class="post" id="post_@(post.blogPostID)">
            <div class="header">
                <a href="/Blog/Post/@String.Format("{0:M-dd-yyyy}", post.publishedDate)/@post.slug">@post.post_title</a>
                <p class="byline">
                    By <a href="/Blog/Author/@(Server.UrlEncode(post.author.first))_@(Server.UrlEncode(post.author.last))">@post.author.first @post.author.last</a>
                    <span>@String.Format("{0:MMMM d, yyyy} at {0:h:mm tt}", TimeZoneInfo.ConvertTimeFromUtc(post.publishedDate.Value, tz)) @tz.DisplayName</span>
                </p>
            </div>
            @if (post.post_text.Length > 400) {
                @Html.Raw(post.post_text.Substring(0, 399) + "... <a class=\"readmore\" href=\"/Blog/Post/" + String.Format("{0:M-dd-yyyy}", post.publishedDate) + "/" + post.slug + "/\">Read More</a>")
            } else {
                @Html.Raw(post.post_text)
            }
            <footer>
                <p>@post.comments.Count() Comment@((post.comments.Count() != 1) ? "s" : "") <a href="/Blog/Post/@String.Format("{0:M-dd-yyyy}", post.publishedDate)/@post.slug/#comments">Add a Comment</a></p>
            </footer>
        </article>
    }
    @if (pagecount > 1) {
        <footer id="pagination">
            @if (page > 1 && pagecount > 1) {
                //Previous page link
                <a id="prevpage" rel="prev" href="/Blog?page=@(page - 1)">&lt; Prev</a>
            }
            <span id="pagecount">Page @page of @pagecount</span>
            @if (pagecount > 1 && page != pagecount) {
                //Next page link
                <a id="nextpage" rel="next" href="/Blog?page=@(page + 1)">Next &gt;</a>
            }
        </footer>
    }
</div>