@{
    EcommercePlatform.Customer cust = ViewBag.cust ?? new EcommercePlatform.Customer();
    string error = ViewBag.error ?? "";
    List<EcommercePlatform.Address> addresses = ViewBag.addresses ?? new List<EcommercePlatform.Address>();
    List<EcommercePlatform.Country> countries = ViewBag.countries ?? new List<EcommercePlatform.Country>();
    int quebec = 59;

    ViewBag.Title = "Addresses";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="/Content/view_sass/account.css" rel="stylesheet" type="text/css" />
<p class="error">@error</p>
<ul class="tabs nojs">
    <li>
        <a href="/Account" title="Basic Information">Account</a>
    </li>
    <li>
        <a href="/Account/Orders" title="View Orders">Orders</a>
    </li>
    <li>
        <a href="/Account/Addresses" title="View Addresses" class="active">Addresses</a>
    </li>
</ul>
<div class="tab_container">
    <div class="tab_content">
        <div class="left">
            <div id="current-billing-address">
                <p class="tab-title">Default Billing Address</p>
                <div class="address main-address">
                    @if (cust.Address != null) {
                        <span>@((cust.Address.residential) ? "Residential" : "Commercial")</span>
                        @cust.Address.first<text> </text>@cust.Address.last<br />
                        @cust.Address.street1<br />
                        if (!String.IsNullOrEmpty(cust.Address.street2)) {
                            @cust.Address.street2<br />
                        }
                        @cust.Address.city<text>,</text> @cust.Address.State1.abbr<text> </text>@cust.Address.postal_code<br />
                        @cust.Address.State1.Country.name
                    } else {
                        <text>No Default Billing Address</text>
                    }
                </div>
            </div>
            <div id="current-shipping-address">
                <p class="tab-title">Default Shipping Address</p>
                <div class="address main-address">
                    @if (cust.Address1 != null) {
                        <span>@((cust.Address1.residential) ? "Residential" : "Commercial")</span>
                        @cust.Address1.first<text> </text>@cust.Address1.last<br />
                        @cust.Address1.street1<br />
                        if (!String.IsNullOrEmpty(cust.Address1.street2)) {
                            @cust.Address1.street2<br />
                        }
                        @cust.Address1.city<text>,</text> @cust.Address1.State1.abbr<text> </text>@cust.Address1.postal_code<br />
                        @cust.Address1.State1.Country.name
                    } else {
                        <text>No Default Shipping Address</text>
                    }
                </div>
            </div>
            <form class="simple-form" id="add-address" method="post" action="/Account/AddAddress">
                <fieldset>
                    <legend>Add an Address</legend>
                    <label for="first">
                        First Name
                        <input type="text" name="first" id="first" class="placeholder" placeholder="Enter a first name" required="required" title="First Name on address is required" value="@cust.fname" />
                    </label>

                    <label for="last">
                        Last Name
                        <input type="text" name="last" id="last" class="placeholder" placeholder="Enter a last name" required="required" title="Last Name on address is required" value="@cust.lname" />
                    </label>

                    <label for="street1">
                        Street 1
                        <input type="text" name="street1" id="street1" class="placeholder" placeholder="Enter the street" required="required" title="Street is required" />
                    </label>
                    <label for="street2">
                        Street 2
                        <input type="text" name="street2" id="street2" class="placeholder" placeholder="Enter additional info for street" />
                    </label>

                    <label for="city">
                        City
                        <input type="text" name="city" id="city" class="placeholder" placeholder="Enter the city" required="required" title="City is required" />
                    </label>

                    <label for="state">
                        State/Province
                        <select name="state" id="state" required="required" title="Select a State/Province">
                            <option value="0">- Select State/Province -</option>
                            @foreach (EcommercePlatform.Country country in countries) {
                                <optgroup label="@country.name">
                                    @foreach (EcommercePlatform.State state in country.getProvinces()) {
                                        if (state.stateID != quebec) {
                                            <option value="@state.stateID">@(String.Format("{0} - {1}", state.abbr, state.state1))</option>
                                        }
                                    }
                                </optgroup>
                            }
                        </select>
                    </label>
                    <label for="zip">
                        Postal Code
                        <input type="text" name="zip" id="zip" class="placeholder" placeholder="Enter the postal code" required="required" title="Postal Code is required" />
                    </label>
                    <label for="residential">
                        <input type="checkbox" name="residential" id="residential" value="true" checked="checked" />
                        Residential Address?
                    </label>
                </fieldset>
                <input type="submit" id="btnAddAddress" class="button" value="Add Address" />
                <input type="reset" id="btnResetAddress" class="button cancel" value="Cancel" />
                <div class="clearfix"></div>
            </form>
        </div>
        <div class="right">
            <article class="scroller">
                <span class="banner">Addresses</span>
                @foreach (EcommercePlatform.Address a in addresses) {
                    <div class="address" data-id="@a.ID" id="address-@a.ID">
                        <span>@((a.residential) ? "Residential" : "Commercial")</span>
                        @a.first @a.last<br />
                        @a.street1<br />
                        @if (!String.IsNullOrEmpty(a.street2)) {
                            @a.street2<br />
                        }
                        @a.city, @a.State1.abbr @a.postal_code<br />
                        @a.State1.Country.name
                        @if (cust.billingID != a.ID) {
                            <a href="/Account/SetBillingDefault/@a.ID" class="button billing">Set Billing</a>
                        }
                        @if (cust.shippingID != a.ID) {
                            <a href="/Account/SetShippingDefault/@a.ID" class="button shipping">Set Shipping</a>
                        }
                        <a href="/Account/DeleteAddress/@a.ID" class="delete">&times;</a>
                    </div>
                }
                <a href="javascript: void;" class="new-address button" id="new-address">New Address</a>
            </article>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<script src="/Scripts/custom/account.js" type="text/javascript"></script>
