@{
    EcommercePlatform.Cart cart = ViewBag.cart;
    bool showShipping = (ViewBag.showShipping != null) ? ViewBag.showShipping : false;
    decimal total = 0;
}
@if (cart.CartItems.Count > 0) {
    <link href="/Content/view_sass/cart.css" rel="stylesheet" type="text/css" />
    <table id="cart">
        <thead>
            <tr>
                <th>Image</th>
                <th>Item</th>
                <th>Quantity</th>
                <th class="last">Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (EcommercePlatform.CartItem item in cart.CartItems) {
                EcommercePlatform.Models.APIPart p = item.apipart;
                string img = "";
                img = p.images.Where(x => x.size.Equals("Tall")).OrderBy(x => x.sort).Select(x => x.path).FirstOrDefault();
                decimal price = item.quantity * item.price;
                total += price;
                <tr id="part-@item.partID">
                    <td>@if (img != "") {<a href="/Part/@p.partID"><img src="@img" alt="@p.shortDesc" /></a>}</td>
                    <td><a href="/Part/@p.partID">@p.shortDesc</a></td>
                    <td class="quantity">
                        <form action="/Cart/Update/@item.partID" method="post" name="updatequantity">
                            <input type="number" name="qty" value="@item.quantity" />
                            <input type="submit" class="save" value="Save" title="Save Quantity" />
                        </form>
                        <a href="/Cart/Remove/@item.partID" class="remove" title="Remove Item From Cart">&times;</a>
                    </td>
                    <td class="price">@String.Format("{0:C}", price)</td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3"><strong>Subtotal:</strong></td>
                <td class="price"><strong>@String.Format("{0:C}", total)</strong></td>
            </tr>
            @if (showShipping) {
                <tr>
                    <td colspan="3" class="shippingtype">(@cart.shipping_type.Replace("_"," ").ToLower()) Shipping:</td>
                    <td class="price">@((cart.shipping_price == 0) ? "Free!" : String.Format("{0:C}", cart.shipping_price))</td>
                </tr>
                <tr>
                    <td colspan="3" class="shippingtype">Tax:</td>
                    <td class="price">@String.Format("{0:C}",cart.tax)</td>
                </tr>
                total += cart.tax;
                total += cart.shipping_price;
                <tr>
                    <td colspan="3"><strong>Total:</strong></td>
                    <td class="price"><strong>@String.Format("{0:C}", total)</strong></td>
                </tr>
            }
        </tfoot>
    </table>
} else {
    <p>Your cart is empty.  You should add something to it.</p>
}