@{
    EcommercePlatform.Models.APICategory cat = ViewBag.category;
    if(cat == null){
        cat = new EcommercePlatform.Models.APICategory();
    }
    cat.catTitle = cat.catTitle.Trim();
    
    ViewBag.Title = cat.catTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="/Content/view_sass/category.css" rel="stylesheet" type="text/css" />
<span class="title">@cat.catTitle</span>

<img src="@cat.image" alt="@cat.catTitle" onerror="$(this).remove()" class="cat_image" />

@if (cat.shortDesc != null && cat.shortDesc.Length > 0) {
    <p>@cat.shortDesc</p>
}

@if (cat.longDesc != null && cat.longDesc.Length > 0) {
    <p>@cat.longDesc</p>
}
<div class="clearfix"></div>

@foreach (EcommercePlatform.Models.APICategory sub in cat.sub_categories) {
    <a href="/Category/@sub.catID/@HttpUtility.UrlEncode(sub.catTitle.Trim())" class="sub_cat" title="@sub.catTitle.Trim()">
        <span class="img_container">
            <img src="@sub.image" alt="@sub.catTitle.Trim()" onerror="$(this).remove()" />
        </span>
        <span>@sub.catTitle.Trim()</span>
    </a>
}