@{
    if(ViewBag.ajax != true){
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    EcommercePlatform.Models.APIPart part = ViewBag.part;
    if(part == null){
        part = new EcommercePlatform.Models.APIPart();
    }
    ViewBag.Title = part.shortDesc;

    List<EcommercePlatform.Models.APIPart> related = ViewBag.related_parts;
    if(related == null){
        related = new List<EcommercePlatform.Models.APIPart>();
    }

    List<EcommercePlatform.Models.FullVehicle> vehicles = ViewBag.vehicles;
    if(vehicles == null){
        vehicles = new List<EcommercePlatform.Models.FullVehicle>();
    }

    EcommercePlatform.Models.APIVideo installVideo = part.videos.Where(x => x.type.Contains("Installation")).FirstOrDefault<EcommercePlatform.Models.APIVideo>();
    
    string year = (ViewBag.year != null)?ViewBag.year:"";
    string make = (ViewBag.make != null) ? ViewBag.make : "";
    string model = (ViewBag.model != null) ? ViewBag.model : "";
    string style = (ViewBag.style != null) ? ViewBag.style : "";

    List<EcommercePlatform.Models.APIPart> connectors = ViewBag.connectors;
    if (connectors == null) {
        connectors = new List<EcommercePlatform.Models.APIPart>();
    }
    bool first_image = true;
    EcommercePlatform.Models.Settings settings = ViewBag.settings ?? new EcommercePlatform.Models.Settings();
}
<link href="/Content/DataTables/media/css/demo_table.css" rel="stylesheet" type="text/css" />
<link href="@settings.Get("PathToCSS")/css/part.css" rel="stylesheet" type="text/css" />
<link href="/Content/shadowbox/shadowbox.css" rel="stylesheet" type="text/css" />

@if (year.Length > 0 && make.Length > 0 && model.Length > 0 && style.Length > 0) {
    <!-- Display stored vehicle -->
    <div class="vehicle_info">
        <span>@(ViewBag.year + " " + ViewBag.make + " " + ViewBag.model + " " + ViewBag.style)</span>
    </div>
}

<div class="titles">
    <!-- Part Title -->
    <span class="shortDesc">@part.shortDesc</span>
    <span class="partNum">Part #@part.partID</span>
</div>

<div class="purchase">
    <form method="post" id="partAddToCart" data-id="@part.partID" action="/Cart/Add/@part.partID">
        <span class="price">@part.listPrice</span>
        @if (Convert.ToDecimal(part.pricing.Where(x => x.key.ToUpper().Equals("LIST")).Select(x => x.value).FirstOrDefault<string>()) != Convert.ToDecimal(part.listPrice.Substring(1))) {
            <span class="msrp">@String.Format("MSRP - ${0:C}", part.pricing.Where(x => x.key.ToUpper().Equals("LIST")).Select(x => x.value).FirstOrDefault<string>())</span>
            <span class="savings">You Save <span class="red">@Math.Round((Convert.ToDecimal(part.listPrice.Substring(1))) / (Convert.ToDecimal(part.pricing.Where(x => x.key.ToUpper().Equals("LIST")).Select(x => x.value).FirstOrDefault<string>())) * 100)%</span></span><br />
        }
        <label for="qty">
            Quantity:
            <select name="qty" id="qty">
                @for (int i = 1; i < 11; i++) {
                    <option>@i</option>
                }
            </select>
        </label>
        <img src="/Content/img/cart.png" alt="Add to Cart" />
        <input type="submit" name="addCart" data-id="@part.partID" id="addCart" value="Add to Cart" />
    </form>
    
</div>
<div class="clearfix"></div>

<!-- Image Viewer -->
<div class="left_col">
    @foreach (EcommercePlatform.Models.APIImage img in part.images.Where(x => x.size.Equals("Venti")).OrderBy(x => x.sort)) {
        if(first_image){
            if (part.images.Where(x => x.size.Equals("Grande") && x.sort.Equals(img.sort)).Count() > 0) { 
                <a href="@img.path" target="_blank" title="Part #@part.partID" class="main" rel="Shadowbox[part]">
                    <img src="@(part.images.Where(x => x.size.Equals("Grande") && x.sort.Equals(img.sort)).FirstOrDefault<EcommercePlatform.Models.APIImage>().path)" alt="Part #@part.partID" onerror="$(this).parent().remove()" />
                </a>
            }
            first_image = false;
        }else{
            if (part.images.Where(x => x.size.Equals("Tall") && x.sort.Equals(img.sort)).Count() > 0) { 
                <a href="@img.path" target="_blank" title="Part #@part.partID" class="sub" rel="Shadowbox[part]">
                    <img src="@(part.images.Where(x => x.size.Equals("Tall") && x.sort.Equals(img.sort)).FirstOrDefault<EcommercePlatform.Models.APIImage>().path)" alt="Part #@part.partID" onerror="$(this).parent().remove()" />
                </a>
            }
        }
    }
    <div class="share_buttons">
        <a href="/Share/Index?type=part&partID=@part.partID" title="Share via E-Mail" class="email-share"></a>
        <div class="fb-like" data-href="@settings.Get("SiteURL")part/11000" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false" data-font="arial"></div>
        <a href="https://twitter.com/share" class="twitter-share-button" data-count="none" data-via="curtmfg">Tweet</a>
        <div class="g-plusone" data-size="medium" data-href="@Request.Url.AbsoluteUri"></div>
    </div>
    <div class="review_box">
        <div class="stars">
            <div class="starrating">
                @if (part.reviews.Count > 0) {
                    <a href="#reviews" title="Read Reviews">
                        <span class="rating" style="width:@((part.averageReview / 5) * 100)%"></span>
                    </a>
                } else {
                    <span>No Reviews</span>
                }
            </div>
            @if (part.reviews.Count > 0) {
                <a href="#reviews" title="Read Reviews">( @part.reviews.Count )</a>
            }
            <div class="clearfix"></div>
        </div>
        <a href="/Review/New/@part.partID" title="Write a Review">Write a Review</a>
    </div>
</div>

<!-- Part Specs and Purchasing -->
<div class="right_col">
    <table>
        <tbody>
            @foreach (EcommercePlatform.Models.APIAttribute attr in part.attributes.OrderBy(x => x.key)) {
                <tr>
                    <td>@attr.key</td>
                    <td>@attr.value</td>
                </tr>
            }
        </tbody>
    </table>
    @if (part.content.Where(x => x.key.Equals("installationSheet")).Count() > 0 && part.content.Where(x => x.key.Equals("installationSheet")).FirstOrDefault<EcommercePlatform.Models.APIAttribute>().value.Length > 0) {
        <a href="@(part.content.Where(x => x.key.Equals("installationSheet")).FirstOrDefault<EcommercePlatform.Models.APIAttribute>().value)" target="_blank" title="Download Installation Instructions" class="install">
            <img src="/Content/img/pdf.png" alt="Download Installation Instructions" />
            Installation Instructions
        </a>
    }
    
    @if (installVideo != null && installVideo.youTubeVideoID.Length > 0) {
        <a href="http://www.youtube.com/watch?v=@installVideo.youTubeVideoID" target="_blank" title="Install Video" class="install_link">
            <img src="/Content/img/youtube.png" alt="Installation Video" />
            Install Video
        </a>
    }
</div>
<div class="clearfix"></div>
@if (part.content.Count > 0 || vehicles.Count > 0 || related.Count > 0 || connectors.Count != 0 || part.reviews.Count != 0) {
    <div class="part_tab_container">
        <ul>
            @if (related.Count > 0) {
                <li>
                    <a href="#accessories" title="Accessories">Accessories</a>
                </li>
            }
            @if (part.content.Count > 0) {
                <li>
                    <a href="#info" title="Info" class="active">Product Info</a>
                </li>
            }
            @if (vehicles.Count > 0) {
                <li>
                    <a href="#vehicles" title="Vehicles">Vehicles</a>
                </li>
            }
            
            @if (connectors.Count > 0) {
                <li>
                    <a href="#wiring" title="Wiring">Wiring</a>
                </li>
            }
            @if (part.reviews.Count > 0) {
                <li>
                    <a href="#reviews" title="Reviews">Reviews</a>
                </li>
            }
        </ul>
    </div>
    <div class="part_container">
        @if (related.Count > 0) {
            <div class="part_content" id="accessories">
                @foreach (EcommercePlatform.Models.APIPart rpart in related.OrderBy(x => x.partID)) {
                    <div class="part_listing" id="@rpart.partID">
                        <div class="part_info">
                            <h4>@rpart.shortDesc</h4>
                            <span class="id">Part #@rpart.partID</span>
                            <div class="left_col">
                                <img src="https://www.curtmfg.com/CURTLibrary/@rpart.partID/images/@(rpart.partID)_100x75_a.jpg" onerror="$(this).remove()" alt="Part #@rpart.partID" />
                            </div>
                            <div class="mid_col">
                                @if (rpart.attributes.Count > 0) {
                                    <table>
                                        <tbody>
                                            @foreach (EcommercePlatform.Models.APIAttribute rcon in rpart.attributes) {
                                                <tr>
                                                    <td>@rcon.key</td>
                                                    <td>@rcon.value</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                }
                            </div>
                        </div>
                        <div class="right_col">
                            <span class="price">@rpart.listPrice</span>
                            <a class="details" href="/Part/@rpart.partID" title="View Details for Part #@rpart.partID">View Details</a>
                            <a href="/Cart/Add/@rpart.partID" data-id="@rpart.partID" class="add_cart" title="Add to Cart">
                                <img src="/Content/img/cart.png" alt="Add to Cart" />
                                <span>Add to Cart</span>
                            </a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                }
                <div class="clearfix"></div>
            </div>
        }
        @if (part.content.Count > 0) {
            <div class="part_content" id="info">
                <ul>
                    @foreach (EcommercePlatform.Models.APIAttribute content_piece in part.content.Where(x => !x.key.Equals("installationSheet")).OrderBy(x => x.key)) {
                        <li>@content_piece.value</li>
                    }
                </ul>
                <div class="clearfix"></div>
            </div>
        }
        @if (vehicles.Count > 0) {
            <div class="part_content" id="vehicles">
                <span class="heading">The following vehicles match this product.</span>
                <table>
                    <thead>
                        <tr>
                            <th>Year</th>
                            <th>Make</th>
                            <th>Model</th>
                            <th>Style</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (EcommercePlatform.Models.FullVehicle vehicle in vehicles) {
                            <tr>
                                <td>@vehicle.year</td>
                                <td>@vehicle.make</td>
                                <td>@vehicle.model</td>
                                <td>@vehicle.style</td>
                                <td class="last">
                                    <a class="find" href="/Lookup/@vehicle.year/@Uri.EscapeDataString(vehicle.make.Replace('/', '!'))/@Uri.EscapeDataString(vehicle.model.Replace('/', '!'))/@Uri.EscapeDataString(vehicle.style.Replace('/', '!'))">Find Parts</a>
                                    <a class="details" href="/Part/@part.partID?year=@vehicle.year&make=@Uri.EscapeDataString(vehicle.make.Replace('/', '!'))&model=@Uri.EscapeDataString(vehicle.model.Replace('/', '!'))&style=@Uri.EscapeDataString(vehicle.style.Replace('/', '!'))" title="View Details">View Details</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="clearfix"></div>
            </div>
        }
        @if (connectors.Count > 0) {
            <div class="part_content" id="wiring">
                @foreach (EcommercePlatform.Models.APIPart con in connectors) {
                    <div class="part_listing" id="@con.partID">
                        <div class="part_info">
                            <h4>@con.shortDesc</h4>
                            <span class="id">Part #@con.partID</span>
                            <div class="left_col">
                                <img src="https://www.curtmfg.com/CURTLibrary/@con.partID/images/@(con.partID)_100x75_a.jpg" onerror="$(this).remove()" alt="Part #@con.partID" />
                            </div>
                            <div class="mid_col">
                                @if (con.attributes.Count > 0) {
                                    <table>
                                        <tbody>
                                            @foreach (EcommercePlatform.Models.APIAttribute cattr in con.attributes) {
                                                <tr>
                                                    <td>@cattr.key</td>
                                                    <td>@cattr.value</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                }
                            </div>
                        </div>
                        <div class="right_col">
                            <span class="price">@con.listPrice</span>
                            <a class="details" href="/Part/@con.partID" title="View Details for Part #@con.partID">View Details</a>
                            <a href="/Cart/Add/@con.partID" data-id="@con.partID" class="add_cart" title="Add to Cart">
                                <img src="/Content/img/cart.png" alt="Add to Cart" />
                                <span>Add to Cart</span>
                            </a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                }
                <div class="clearfix"></div>
            </div>
        }
        @if (part.reviews.Count > 0) {
            <div class="part_content" id="reviews">
                @foreach (EcommercePlatform.Models.APIReview rev in part.reviews.OrderByDescending(x => x.reviewID)) {
                    <div class="review">
                        <span class="full_stars">
                            <span class="review_rating" style="width:@(((rev.rating) * 100) / 5)%"></span>
                        </span>
                        <span class="subject">@rev.subject</span>

                        <span class="date">Reviewed on @rev.createdDate</span>
                        <span class="name">By @((rev.name.Length == 0) ? "Anonymous" : rev.name)</span>

                        <p>@rev.review_text</p>
                    </div>
                }
                <div class="clearfix"></div>
            </div>
        }
        <div class="clearfix"></div>
    </div>
}
<script src="/Scripts/tools/jquery.bbq.min.js" type="text/javascript"></script>
<script src="/Scripts/tools/jquery.dataTables.min.js" type="text/javascript"></script>
<script type="text/javascript" src="/Scripts/tools/shadowbox.js"></script>
@if (HttpContext.Current.IsDebuggingEnabled) {
    <script src="/Scripts/custom/part.js" type="text/javascript"></script>
} else {
    <script src="/Scripts/custom/part.min.js" type="text/javascript"></script>
}