@{
    EcommercePlatform.ContentPage page = ViewBag.page;
    if (page == null) {
        page = new EcommercePlatform.ContentPage();
    }
    ViewBag.Title = "Choose Billing";
    EcommercePlatform.Customer cust = ViewBag.customer;
    if (cust == null) {
        cust = new EcommercePlatform.Customer();
    }

    List<EcommercePlatform.Country> countries = ViewBag.countries;
    if (countries == null) {
        countries = new List<EcommercePlatform.Country>();
    }

    List<EcommercePlatform.Address> addresses = ViewBag.addresses;
    if (addresses == null) {
        addresses = new List<EcommercePlatform.Address>();
    }

    Layout = "~/Views/Shared/_Layout.cshtml";
    int quebec = 59;
}
<link href="/Content/view_sass/cart.css" rel="stylesheet" type="text/css" />
<div class="content">
    <h2>Checkout - Enter Billing</h2>
    @Html.Raw(page.content)
    <ul class="tabs nojs">
        <li>
            <a href="/Cart/Billing" title="Billing Information" class="active">Billing</a>
        </li>
        <li>
            <a href="javascript:void()" title="Shipping Information">Shipping</a>
        </li>
    </ul>
    <div class="tab_container">
        <div class="tab_content">
            <div class="left">
                @if (cust.Cart.bill_to != 0) {
                    <div id="current-billing-address">
                        <p class="tab-title">Confirm Your Billing Address</p>
                        <div class="address main-address">
                            <span>@((cust.Cart.Billing.residential) ? "Residential" : "Commercial")</span>
                            @cust.Cart.Billing.first @cust.Cart.Billing.last<br />
                            @cust.Cart.Billing.street1<br />
                            @if (!String.IsNullOrEmpty(cust.Cart.Billing.street2)) {
                                @cust.Cart.Billing.street2<br />
                            }
                            @cust.Cart.Billing.city, @cust.Cart.Billing.State1.abbr @cust.Cart.Billing.postal_code<br />
                            @cust.Cart.Billing.State1.Country.name
                        </div>
                        <a href="/Cart/Shipping" class="button">Proceed to Shipping</a>
                    </div>
                }
                <form class="simple-form @((cust.Cart.bill_to != 0) ? "hideme" : "")" id="add-billing-address" method="post" action="/Cart/AddBillingAddress">
                    <fieldset>
                        <legend>Add a Billing Address</legend>
                        <label for="bfirst">
                            Billing First Name
                            <input type="text" name="bfirst" id="bfirst" class="placeholder" placeholder="Enter the billing first name" required="required" title="Last Name on billing address is required" />
                        </label>

                        <label for="blast">
                            Billing Last Name
                            <input type="text" name="blast" id="blast" class="placeholder" placeholder="Enter the billing last name" required="required" title="Last name on billing address is required" />
                        </label>

                        <label for="bstreet1">
                            Billing Street 1
                            <input type="text" name="bstreet1" id="bstreet1" class="placeholder" placeholder="Enter the billing street" required="required" title="Billing street is required" />
                        </label>
                        <label for="bstreet2">
                            Billing Street 2
                            <input type="text" name="bstreet2" id="bstreet2" class="placeholder" placeholder="Enter additional info for billing street" />
                        </label>

                        <label for="bcity">
                            Billing City
                            <input type="text" name="bcity" id="bcity" class="placeholder" placeholder="Enter the billing city" required="required" title="Billing city is required" />
                        </label>

                        <label for="bstate">
                            Billing State/Province
                            <select name="bstate" id="bstate" required="required" title="Select a Billing State/Province">
                                <option value="0">- Select State/Province -</option>
                                @foreach (EcommercePlatform.Country country in countries) {
                                    <optgroup label="@country.name">
                                        @foreach (EcommercePlatform.State state in country.getProvinces()) {
                                            if (state.stateID != quebec) {
                                                <option value="@state.stateID">@(String.Format("{0} - {1}", state.abbr, state.state1))</option>
                                            }
                                        }
                                    </optgroup>
                                }
                            </select>
                        </label>
                        <label for="bzip">
                            Billing Postal Code
                            <input type="text" name="bzip" id="bzip" class="placeholder" placeholder="Enter the billing postal code" required="required" title="Billing Postal Code is required" />
                        </label>
                        <label for="bresidential">
                            <input type="checkbox" name="bresidential" id="bresidential" value="true" checked="checked" />
                            Residential Address?
                        </label>
                    </fieldset>
                    <input type="submit" id="btnAddBillingAddress" class="button" value="Add and Proceed to Shipping" />
                    @if (cust.Cart.bill_to != 0) {
                        <input type="reset" id="btnResetBilling" class="button cancel" value="Cancel" />
                    }
                    <div class="clearfix"></div>
                </form>
            </div>
            <div class="right">
                <article class="scroller">
                    <span class="banner">Addresses</span>
                    @if (cust.Cart.bill_to != 0) {
                        foreach (EcommercePlatform.Address a in addresses) {
                            if (!a.ID.Equals(cust.Cart.Billing.ID)) {
                                <div class="address" data-id="@a.ID" id="address-@a.ID">
                                    <span>@((a.residential) ? "Residential" : "Commercial")</span>
                                    @a.first @a.last<br />
                                    @a.street1<br />
                                    @if (!String.IsNullOrEmpty(a.street2)) {
                                        @a.street2<br />
                                    }
                                    @a.city, @a.State1.abbr @a.postal_code<br />
                                    @a.State1.Country.name
                                    <a href="/Cart/ChooseBilling/@a.ID" class="button">Choose</a>
                                </div>
                            }
                        }
                    } else {
                        foreach (EcommercePlatform.Address a in addresses) {
                            <div class="address" data-id="@a.ID" id="address-@a.ID">
                                <span>@((a.residential) ? "Residential" : "Commercial")</span>
                                @a.first @a.last<br />
                                @a.street1<br />
                                @if (!String.IsNullOrEmpty(a.street2)) {
                                    @a.street2<br />
                                }
                                @a.city, @a.State1.abbr @a.postal_code<br />
                                @a.State1.Country.name
                                <a href="/Cart/ChooseBilling/@a.ID" class="button">Choose</a>
                            </div>
                        }
                    }
                    <a href="javascript: void;" class="new-address button" id="new-billing-address">New Address</a>
                </article>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<script defer src="/Scripts/custom/checkout.js"></script>
