@{
    EcommercePlatform.ContentPage page = ViewBag.page ?? new EcommercePlatform.ContentPage();
    ViewBag.Title = "Choose Shipping";
    EcommercePlatform.Customer cust = ViewBag.customer ?? new EcommercePlatform.Customer();
    EcommercePlatform.Models.Settings settings = ViewBag.settings ?? new EcommercePlatform.Models.Settings();
    List<string> freeshippingtypes = settings.Get("FreeShippingType").Split(',').ToList<string>();

    EcommercePlatform.Models.ShippingResponse shippingresponse = ViewBag.shippingresponse ??  new EcommercePlatform.Models.ShippingResponse();
    string shipping_type = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="@settings.Get("PathToCSS")/css/cart.css" rel="stylesheet" type="text/css" />
<div class="content">
    <h2>Checkout - Enter Shipping</h2>
    @Html.Raw(page.content)
    @if (ViewBag.error != null && ViewBag.error != "") {
        <p style="font-weight: bold; color: Red;">@ViewBag.error</p>
    }

    <ul class="tabs nojs">
        <li>
            <a href="/Cart/Checkout" title="Customer Information">Customer Information</a>
        </li>
        <li>
            <a href="/Cart/Shipping" title="Shipping Information" class="active">Choose Shipping Type</a>
        </li>
    </ul>
    <div class="tab_container">
        <div class="tab_content">
            <div class="left">
                @if (cust.Cart.ship_to != 0) {
                    <div id="current-shipping-address">
                        <p class="tab-title">Choose Your Shipping Option</p>
                        <div class="address main-address">
                            <span>@((cust.Cart.Shipping.residential) ? "Residential" : "Commercial")</span>
                            @cust.Cart.Shipping.first @cust.Cart.Shipping.last<br />
                            @cust.Cart.Shipping.street1<br />
                            @if (!String.IsNullOrEmpty(cust.Cart.Shipping.street2)) {
                                @cust.Cart.Shipping.street2<br />
                            }
                            @cust.Cart.Shipping.city, @cust.Cart.Shipping.State1.abbr @cust.Cart.Shipping.postal_code<br />
                            @cust.Cart.Shipping.State1.Country.name
                        </div>
                        <form action="/Cart/ChooseShippingType" method="post" id="shipping_type" class="simple-form">
                            @if (!cust.Cart.HasFreeShipping()) {
                                <p class="callout">Spend @String.Format("{0:C}", (Convert.ToInt32(ViewBag.settings.Get("FreeShippingAmount")) - cust.Cart.GetSubTotal())) to get free shipping!</p>
                            }
                            <fieldset>
                                @if (shippingresponse != null && shippingresponse.Status != "ERROR" && shippingresponse.Result != null && shippingresponse.Result.Count > 0) {
                                        int shipcount = 0;
                                        for (int i = shippingresponse.Result.Count - 1; i >= 0; i--) {
                                            shipcount++;
                                            EcommercePlatform.Models.ShipmentRateDetails rate = shippingresponse.Result[i];
                                            <label for="shipping_@(shipcount)">
                                                @if (cust.Cart.HasFreeShipping() && freeshippingtypes.Contains(rate.ServiceType)) {
                                                    shipping_type = rate.ServiceType;
                                                    <input type="radio" name="shipping_type" id="shipping_@(shipcount)" value="@rate.ServiceType|0" @((shipcount == 1) ? "checked=checked" : "") />
                                                    <span class="rate">Free Shipping - @System.Globalization.CultureInfo.CurrentCulture.TextInfo.ToTitleCase(rate.ServiceType.Replace("_", " ").ToLower())</span>
                                                } else {
                                                    shipping_type = rate.ServiceType;
                                                    <input type="radio" name="shipping_type" id="shipping_@(shipcount)" value="@rate.ServiceType|@rate.Rates.FirstOrDefault().NetCharge.Key" @((shipcount == 1) ? "checked=checked" : "") />
                                                    <span class="rate">@String.Format("{0:C}", rate.Rates.First().NetCharge.Key) @rate.Rates.First().NetCharge.Value - @System.Globalization.CultureInfo.CurrentCulture.TextInfo.ToTitleCase(rate.ServiceType.Replace("_", " ").ToLower())</span>
                                                }
                                            </label>
                                        }
                                        <input type="submit" class="button" id="btnChooseShippingType" value="Proceed to Payment" />
                                } else if (shippingresponse.Status == "ERROR") {
                                    <p>There was a problem with FedEx: @shippingresponse.Status_Description</p>
                                } else {
                                    <p>There was a problem with FedEx. Please try again.</p>
                                }
                            </fieldset>
                        </form>
                    </div>
                }
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<script defer src="/Scripts/custom/checkout.js"></script>
